body, html, ul {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 1000px;
    margin: auto;
}
.sidebar {
    float: left;
    width: 200px;
}

.contact {
    cursor: pointer;
}
.contact:hover .delete,
.contact:hover .edit {
    visibility: visible;
}
.contact .delete.delete-confirm {
    background-color: #f00;
    color: #fff;
}
.contact .delete , .contact .edit{
    visibility: hidden;
}

.contact.selected {
    background-color: #3b67cc;
    color: white;
}